<main class="content">

  <div class="container">

    <div class="content__left-side">

      <div class="photo">
        <img class="photo__img" src="../src/images/photo.jpg" alt="photo" width="180">
      </div>

      <section class="contacts">
        <h3 class="contacts__title">contact information</h3>
        <ul class="contacts__list">
          <li class="contacts__item">
            <a class="contacts__link" href="tel:+380639993570">
              <svg aria-label="phone icon" class="contacts__icon" width="10" height="16">
                <!-- <use href="./images/icons.svg#icon-smartphone"></use> -->
              </svg>
              +38 063 999 35 70
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:a.novychenko@outlook.com">
              <svg aria-label="mail icon" class="contacts__icon" width="10" height="16">
                <!-- <use href="./images/icons.svg#icon-smartphone"></use> -->
              </svg>
              A.Novychenko@outlook.com
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="https://www.linkedin.com/in/oleksandr-novychenko/">
              <svg aria-label="linkedin icon" class="contacts__icon" width="10" height="16">
                <!-- <use href="./images/icons.svg#icon-smartphone"></use> -->
              </svg>
              Linkedin
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="https://github.com/A-Novychenko">
              <svg aria-label="github icon" class="contacts__icon" width="10" height="16">
                <!-- <use href="./images/icons.svg#icon-smartphone"></use> -->
              </svg>
              GitHub
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="https://t.me/NovychenkoA">
              <svg aria-label="telegram icon" class="contacts__icon" width="10" height="16">
                <!-- <use href="./images/icons.svg#icon-smartphone"></use> -->
              </svg>
              @NovychenkoA
            </a>
          </li>
        </ul>
      </section>

      <section class="tech-skills">
        <h3 class="tech-skills__title">tech-skills</h3>
        <ul class="tech-skills__list">
          <li class="tech-skills__item">HTML5/CSS3/SASS<br>Responsive/Adaptive design GIT</li>
          <li class="tech-skills__item">JavaScript</li>
          <li class="tech-skills__item">REST API</li>
          <li class="tech-skills__item">Handlebars</li>
          <li class="tech-skills__item">Webpack Parcel</li>
          <li class="tech-skills__item">Node.js</li>
          <!-- <li class="tech-skills__item">React Hooks & Components</li> -->
          <!-- <li class="tech-skills__item">React Redux</li> -->
        </ul>
      </section>

      <section class="soft-skills">
        <h3 class="soft-skills__title">soft-skills</h3>
        <ul class="soft-skills__list">
          <li class="soft-skills__item">Attentive</li>
          <li class="soft-skills__item">Autonomous</li>
          <li class="soft-skills__item">Communicative</li>
          <li class="soft-skills__item">Teamwork</li>
          <li class="soft-skills__item">Resourcefulness</li>
        </ul>
      </section>

      <section class="languages">
        <h3 class="languages__title">languages</h3>
        <ul class="languages__list">
          <li class="languages__item">Ukrainian - Native</li>
          <li class="languages__item">Russian - Native</li>
          <li class="languages__item">English - Elementary</li>
        </ul>
      </section>

    </div>

    <div class="content__right-side">

      <section class="about-me">
        <h1 class="about-me__name">Oleksandr Novychenko</h1>
        <h2 class="about-me__profession">Junior Frontend Developer</h2>
        <p class="about-me__summary">I am a Junior Front End developer. I focus on
          HTML5, CSS3, JS, React, English. Development,
          practice and work for the result are important for
          me. I am skillful in analyzing problems and
          thinking of solutions to accurately troubleshoot
          and solve technical problems.</p>
      </section>

      <section class="project-experience">
        <ul class="project-experience__list">
          <li class="project-experience__item">
            <a class="project-experience__link" href="">WebStudio</a>
          </li>
          <li class="project-experience__item">
            <a class="project-experience__link" href="">IceCream</a>
          </li>
          <li class="project-experience__item">
            <a class="project-experience__link" href="">NM</a>
          </li>
        </ul>
      </section>

      <section class="work-experience">
        <ul class="work-experience__list">
          <li class="work-experience__item">
            <h3 class="work__name">ELIT UKRAINE LCC (LKQ EUROPE)</h3>
            <p class="work__descr">&&&</p>
          </li>
        </ul>
      </section>

      <section class="educations">
        <ul class="educations__list">
          <li class="educations__item">
            <h3 class="educations__title">GoIT</h3>
            <p class="educations__descr">GoIT</p>
          </li>
          <li class="educations__item">
            <h3 class="educations__title">NUFT</h3>
            <p class="educations__descr">NUFT</p>
          </li>
        </ul>
      </section>

    </div>
  </div>

</main>