<main class="content">

  <div class="container">

    <div class="content__left-side">

      <section class="photo">
        <img class="photo__img" src="../src/images/logo.png" alt="photo" width="180">
      </section>

      <section class="contacts">
        <ul class="contacts__list">
          <li class="contacts__item"></li>
        </ul>
      </section>

      <section class="tech-skill">
        <ul class="tech-skill__list">
          <li class="tech-skill__item"></li>
        </ul>
      </section>

    </div>

    <div class="content__right-side">

      <section class="about-me">
        <h1 class="about-me__name">Oleksandr Novychenko</h1>
        <h2 class="about-me__profession">Junior Frontend Developer</h2>
        <p class="about-me__summary">I am a Junior Front End developer. I focus on
          HTML5, CSS3, JS, React, English. Development,
          practice and work for the result are important for
          me. I am skillful in analyzing problems and
          thinking of solutions to accurately troubleshoot
          and solve technical problems.</p>
      </section>

      <section class="project-experience">
        <ul class="project-experience__list">
          <li class="project-experience__item">
            <a class="project-experience__link" href="">WebStudio</a>
          </li>
          <li class="project-experience__item">
            <a class="project-experience__link" href="">IceCream</a>
          </li>
          <li class="project-experience__item">
            <a class="project-experience__link" href="">NM</a>
          </li>
        </ul>
      </section>

      <section class="work-experience">
        <ul class="work-experience__list">
          <li class="work-experience__item">
            <h3 class="work__name">ELIT UKRAINE LCC (LKQ EUROPE)</h3>
            <p class="work__descr">&&&</p>
          </li>
        </ul>
      </section>

      <section class="educations">
        <ul class="educations__list">
          <li class="educations__item">
            <h3 class="educations__title">GoIT</h3>
            <p class="educations__descr">GoIT</p>
          </li>
          <li class="educations__item">
            <h3 class="educations__title">NUFT</h3>
            <p class="educations__descr">NUFT</p>
          </li>
        </ul>
      </section>

    </div>
  </div>

</main>